<ul class="list-group ">
  <div class="d-flex align-items-center card-header ">
      <h5 class="mr-auto">
          Amazono
      </h5>
      <button pButton type="button" class="ui-button-warning ui-button-raised ui-button-rounded" [disabled]="messageList?.isClosedChat" label="End Chat" (click)="endChat()"></button>
  </div>
  <div id="chatbox-messages">
      <div *ngFor="let message of dialog" [ngStyle]="{'display': 'flex', 
                                                    'margin-bottom': '25px',
                                                    'justify-content': (message.from === 'user' || message.from === 'otheruser' ? 'flex-end' : '')}">
        <ng-template [ngIf]="message.from === 'bot'">
            <img src="assets/img/botAvatar.png" class="chat-avatar mr-2">
                <div [ngSwitch]="message.type">
                    <div *ngSwitchCase="'loading'">
                        <div class="spinner">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>
                    </div>
                    <div *ngSwitchCase="'text'">
                        <li class="list-group-item">
                            {{ message.content }}
                        </li>
                    </div>
                    <div *ngSwitchCase="'image'">
                        <img [src]="message.content" class="img-fluid rounded">
                    </div>
                    <div *ngSwitchCase="'chat-button'" style="padding-top: 15%;">
                        <!-- <button type="button" class="btn btn-warning">{{message.content}}</button> -->
                        <button pButton type="button" class="ui-button-warning ui-button-raised ui-button-rounded" [label]="message.content"></button>
                    </div>
                </div>
            </ng-template>

          <ng-template [ngIf]="message.from === 'user'">
              <li class="list-group-item">
                  {{ message.content }}
              </li>
              <img src="assets/img/userAvatar.jpg" class="chat-avatar ml-2">
          </ng-template>

          <ng-template [ngIf]="message.from === 'otheruser'">
              <!-- <img src="assets/img/adminAvatar.png" class="chat-avatar mr-2"> -->
              <li class="list-group-item chat-message-highlighted">
                  {{ message.content }}
              </li>
          </ng-template>

          <ng-template [ngIf]="message.from === 'newuser'">
            <img src="assets/img/userAvatar.jpg" class="chat-avatar mr-2">
            <li class="list-group-item">
                {{ message.content }}
            </li>
          </ng-template>

          <div class="notification" *ngIf="message.from === 'notification'" >
            <p class="text-muted mt-3">{{message.content}}</p>
        </div>

      </div>
  </div>
</ul>

<div class="input-group card-footer">
  <input (keydown.enter)="appendMessage(userInput)" [(ngModel)]="userInput" type="text" class="form-control"
      id="user-input" placeholder="Chat with our chatbot" aria-label="Chat with our chatbot" [disabled]="messageList?.isClosedChat || !messageList?.isJoinedChat"
      aria-describedby="button-addon2">
    <div class="input-group-append" [hidden]="messageList?.isClosedChat">
        <button *ngIf="messageList?.isJoinedChat" pButton class="dark-button" type="button" label='Send' (click)="appendMessage(userInput)"></button>
        <button *ngIf="!messageList?.isJoinedChat" pButton class="dark-button" type="button" label='Join Chat' (click)="joinChat(); messageList.isJoinedChat = true"></button>
    </div>
</div>